.navbar li .glyphicon {
  margin-right: 10px; }

/* Highlighting rules for nav menu items */
.navbar .navbar-nav .active a,
.navbar .navbar-nav .active a:hover,
.navbar .navbar-nav .active a:focus {
  background-image: none;
  background-color: #4189C7;
  color: white; }

@media (min-width: 768px) {
  /* On large screens, convert the nav menu to a vertical sidebar */
  .navbar {
    height: 100%;
    width: calc(25% - 20px); }
  .navbar {
    border-radius: 0;
    border-width: 0;
    height: 100%; }
  .navbar-header {
    float: none; }
  .navbar .navbar-collapse {
    border-top: 1px solid #444;
    padding: 0; }
  .navbar .container-fluid {
    padding: 0;
    margin: 0; }
  .navbar .container-fluid .navbar-brand {
    margin: 0; }
  .navbar ul {
    float: none; }
  .navbar li {
    float: none;
    font-size: 15px;
    margin: 6px; }
  .navbar li a {
    padding: 10px 16px;
    border-radius: 4px; }
  .navbar a {
    /* If a menu item's text is too long, truncate it */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; } }

.home-container .block {
  border: solid 2px #b0a9a9;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .home-container .block p {
    font-size: 32px;
    text-align: center; }
  .home-container .block .ico {
    font-size: 48px; }

.audio-record-play-container {
  position: relative;
  border: 1px solid #e8e8e8; }
  .audio-record-play-container .title {
    position: absolute;
    left: 12px;
    top: 12px; }
  .audio-record-play-container .info-container {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .audio-record-play-container .info-container label {
      color: #c28080;
      text-align: center; }
  .audio-record-play-container .player {
    background-color: #e8e8e8;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%; }
    .audio-record-play-container .player button {
      border: none;
      background-color: transparent;
      width: 35px;
      height: 35px;
      color: #454545; }
      .audio-record-play-container .player button.record {
        color: #c24040; }
      .audio-record-play-container .player button:disabled {
        color: #888888; }
    .audio-record-play-container .player .border {
      height: 35px;
      width: 1px;
      background-color: #d6d6d6; }
    .audio-record-play-container .player .time-title {
      padding: 0 0 0 8px; }
    .audio-record-play-container .player .play-bar {
      flex: 1;
      height: 4px;
      margin: 0 8px; }
      .audio-record-play-container .player .play-bar .progress-bar {
        background-image: linear-gradient(to bottom, #888888 0%, #454545 100%); }

.mt-16 {
  margin-top: 16px; }

.mr-32 {
  margin-right: 32px; }

.justify-content-center {
  display: flex;
  justify-content: center; }

.full-screen-height {
  height: 100vh; }

.relative-container {
  position: relative; }

.v-center-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  .v-center-grid-container .row {
    flex: 1; }
    .v-center-grid-container .row div[class^="col"] {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }

@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  body {
    padding-top: 50px; } }
