﻿$barHeight: 35px;
$barBackgroundColor: #e8e8e8;
$recordButtonColor: #c24040;
$infoColor: #c28080;
$borderColor: #d6d6d6;
$normalColor: #454545;
$disabledColor: #888888;

.audio-record-play-container {
    position: relative;
    border: 1px solid $barBackgroundColor;

    .title {
        position: absolute;
        left: 12px;
        top: 12px;
    }

    .info-container {
        width: 100%;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        label {
            color: $infoColor;
            text-align: center;
        }
    }

    .player {
        background-color: $barBackgroundColor;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        button {
            border: none;
            background-color: transparent;
            width: $barHeight;
            height: $barHeight;
            color: $normalColor;

            &.record {
                color: $recordButtonColor;
            }
            &:disabled {
                color: $disabledColor;
            }
        }

        .border {
            height: $barHeight;
            width: 1px;
            background-color: $borderColor;
        }

        .time-title {
            padding: 0 0 0 8px;
        }

        .play-bar {
            flex: 1;
            height: 4px;
            margin: 0 8px;

            .progress-bar {
                background-image: linear-gradient(to bottom, $disabledColor 0%, $normalColor 100%);
            }
        }
    }
}