﻿
.home-container {
    .block {
        border: solid 2px #b0a9a9;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        p {
            font-size: 32px;
            text-align: center;
        }
        .ico {
            font-size: 48px;
        }
    }
}