@import './NavMenu.scss';
@import './Home.scss';
@import './AudioRecordPlay.scss';

.mt-16 {
    margin-top: 16px;
}

.mr-32 {
    margin-right: 32px;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.full-screen-height {
    height: 100vh;
}

.relative-container {
    position: relative;
}

.v-center-grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .row {
        flex: 1;
        
        div[class^="col"] {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}
